.additional-products__section-title {
  font-size: 24px;
  line-height: 24px;
}

.additional-products__list {
  list-style: none;

  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.additional-products__item {
  padding: 15px 0;
}

.additional-products__product-title {
  font-size: 16px;
  line-height: 16px;

  color: #222222;
}

.additional-products__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;

  color: @text-color;
}

.additional-products__gift {
  margin-bottom: 35px;
}
