.advantages__wrapper {
  padding: 0 20px;
}

.advantages__title {
  margin: 0;
  margin-top: -4px;
  margin-bottom: 29px;

  font-size: 36px;
  line-height: 60px;
}

.advantages__list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.advantages__item {
  min-height: 50px;

  padding-left: 80px;
  margin-bottom: 26px;

  position: relative;
}

.advantages__item::before {
  content: "";

  width: 60px;
  height: 60px;
  background-color: @primary-color;

  position: absolute;
  left: 0;
  top: -2px;
}

.advantages__item--leaf::after {
  content: "";

  width: 50px;
  height: 50px;

  background-image: url("../img/advantage-leaf@1x.png");
  background-repeat: no-repeat;

  position: absolute;
  left: 5px;
  top: 3px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/advantage-leaf@2x.png");
    background-size: cover;
  }
}

.advantages__item--powder::after {
  content: "";

  width: 50px;
  height: 50px;

  background-image: url("../img/advantage-powder@1x.png");
  background-repeat: no-repeat;

  position: absolute;
  left: 5px;
  top: 2px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/advantage-powder@2x.png");
    background-size: cover;
  }
}

.advantages__item--dining::after {
  content: "";

  width: 50px;
  height: 50px;

  background-image: url("../img/advantage-dining@1x.png");
  background-repeat: no-repeat;

  position: absolute;
  left: 4px;
  top: 3px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/advantage-dining@2x.png");
    background-size: cover;
  }
}

.advantages__item--clock::after {
  content: "";

  width: 50px;
  height: 50px;

  background-image: url("../img/advantage-clock@1x.png");
  background-repeat: no-repeat;

  position: absolute;
  left: 5px;
  top: 3px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/advantage-clock@2x.png");
    background-size: cover;
  }
}

.advantages__text {
  white-space: normal;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;

  color: @third-text-color;
}

.advantages__text--br br {
  display: none;
}

@media (min-width: @tablet-width) {
  .advantages {
    padding-bottom: 9px;
    border-bottom: 1px solid #e6e6e6;
  }

  .advantages__wrapper {
    padding: 0 30px;
  }

  .advantages__title {
    margin-top: 47px;
    margin-bottom: 31px;

    font-size: 60px;
  }

  .advantages__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .advantages__item {
    width: 325px;
    min-height: 230px;

    padding-left: 0;
    margin-top: 38px;
    margin-bottom: 49px;
  }

  .advantages__item::before {
    content: "";
    width: 80px;
    height: 80px;

    top: 1px;
  }

  .advantages__item--leaf::after,
  .advantages__item--powder::after,
  .advantages__item--dining::after,
  .advantages__item--clock::after {
    left: 15px;
    top: 17px;
  }

  .advantages__text {
    width: 250px;

    padding-top: 98px;

    white-space: pre-line;

    font-size: 16px;
    line-height: 24px;
  }

  .advantages__text::after {
    content: "";

    position: absolute;
    right: 77px;
    top: -38px;

    font-family: "Oswald", Arial, sans-serif;
    font-size: 281px;
    line-height: 281px;

    color: @second-color;

    z-index: -1;
  }

  .advantages__text--1::after {
    content: "1";

    right: 97px;
  }

  .advantages__text--2::after {
    content: "2";
  }

  .advantages__text--3::after {
    content: "3";
  }

  .advantages__text--4::after {
    content: "4";
  }

  .advantages__text--br br {
    display: inline-block;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    border-bottom: none;
  }

  .advantages__wrapper {
    padding: 0 40px;
  }

  .advantages__title {
    margin-top: 41px;
    margin-bottom: 28px;

    font-size: 60px;
  }

  .advantages__list {
    flex-wrap: initial;
  }

  .advantages__item {
    width: 245px;
  }

  .advantages__text {
    padding-top: 101px;
  }

  .advantages__text::after {
    top: -34px;
    right: 5px;
  }

  .advantages__text--1::after {
    right: 21px;
  }
}
