.advantages__wrapper {
  padding: 0 20px;
}

.advantages__title {
  font-size: 36px;
  line-height: 60px;
}

.advantages__list {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;

  color: @text-color;

  list-style: none;

  padding: 0;
  margin: 0;
}

.advantages__item {
  margin-bottom: 20px;
}
