.contacts__text {
  padding: 28px 5px 26px 19px;

  display: flex;
  justify-content: space-between;
}

.contacts__invitation-text {
  width: 275px;

  padding-right: 14px;
  margin: 0;

  font-size: 16px;
  line-height: 20px;

  text-transform: uppercase;
}

.contacts__address {
  margin: 0;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;

  color: @third-text-color;
}

.contacts__map {
  height: 363px;

  background-color: @second-color;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.contacts__map iframe {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  z-index: 2;
}

.contacts__pin-map {
  position: absolute;
  top: calc(50% - 18px);
  left: calc(50% - 29px);

  z-index: 1;
}

.contacts__map-image {
  width: 320px;
  height: 363px;
}

.contacts--grey {
  background-color: @second-color;
}

@media (min-width: @tablet-width) {
  .contacts__text {
    padding: 64px 72px 55px 70px;
  }

  .contacts__invitation-text {
    width: 230px;

    font-size: 20px;
    line-height: 25px;
  }

  .contacts__address {
    width: 195px;

    text-align: right;

    font-size: 16px;
  }

  .contacts__address span {
    display: inline-block;

    padding-top: 19px;
  }

  .contacts__map {
    height: initial;
  }

  .contacts__pin-map {
    width: 113px;
    height: 106px;

    top: calc(50% - 53px);
    left: calc(50% - 57px);
  }

  .contacts__map-image {
    width: initial;
    height: initial;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    position: relative;
  }

  .contacts__text {
    width: 569px;
    height: 201px;
    box-sizing: border-box;

    padding: 66px 72px 58px 76px;

    background-color: #ffffff;

    position: absolute;
    top: 95px;
    left: 39px;

    z-index: 3;
  }

  .contacts__address {
    width: 171px;

    text-align: left;

    font-size: 16px;
  }

  .contacts__map-image {
    height: 400px;
  }

  .contacts__pin-map {
    left: unset;

    right: 290px;
    top: 150px;
  }
}
