.intro__background-block {
  height: 305px;
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-color: #68b738;
  background-repeat: no-repeat;
  background-position: center;
}

.intro__block-above {
  margin-top: -205px;
}

.intro__text {
  color: #ffffff;
  text-align: center;
}

.intro__title {
  font-size: 36px;
  line-height: 36px;

  margin: 0;
  margin-bottom: 25px;
}

.intro__slogan {
  font-size: 14px;
  line-height: 14px;

  text-transform: uppercase;

  margin: 0;
  margin-bottom: 28px;
}
