.intro__background-block {
  height: 305px;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-color: #68b738;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }
}

.intro__block-above {
  position: relative;

  padding: 0 20px 61px 20px;
  margin-top: -278px;
}

.intro__text {
  color: #ffffff;
  text-align: center;
}

.intro__title {
  font-size: 36px;
  line-height: 36px;

  margin: 0;
  margin-bottom: 25px;
}

.intro__slogan {
  font-size: 14px;
  line-height: 14px;

  text-transform: uppercase;

  margin: 0;
  margin-bottom: 28px;
}

.intro__image {
  text-align: center;
}

.intro__link {
  width: 280px;

  margin-bottom: 23px;
  margin-left: 20px;

  position: absolute;
  bottom: 0;
  left: 0;

  font-size: 14px;
  line-height: 18px;

  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .intro__background-block {
    display: none;
  }

  .intro__block-above {
    padding: 46px 0 0 0;
    margin: 0;
  }

  .intro__text {
    color: @primary-text-color;
    text-align: left;

    padding: 0 118px;

    z-index: 2;
  }

  .intro__title {
    font-size: 60px;
    line-height: 60px;

    margin-bottom: 41px;
  }

  .intro__slogan {
    margin-bottom: 48px;

    font-size: 20px;
    line-height: 20px;
  }

  .intro__image {
    margin-top: -82px;

    position: relative;

    z-index: -1;
  }

  .intro__link {
    width: 245px;

    padding: 16px;
    margin-bottom: 0;
    margin-left: 0;

    font-size: 20px;
    line-height: 20px;

    position: static;
  }
}

@media (min-width: @desktop-width) {
  .intro {
    display: flex;

    margin-bottom: 80px;
  }

  .intro__background-block {
    display: block;

    min-width: 650px;
    min-height: 696px;

    background-image: url("../img/index-background-desktop@1x.jpg");

    order: 2;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
    }
  }

  .intro__block-above {
    padding: 150px 0 0 0;
  }

  .intro__text {
    padding: 0;
    padding-right: 30px;
    margin: 73px 0 0 119px;
  }

  .intro__title {
    max-width: 529px;
  }

  .intro__slogan {
    margin-bottom: 52px;
  }

  .intro__image {
    position: absolute;
    right: -391px;
    top: 223px;

    z-index: 0;
  }

  .intro__picture {
    padding: 0;
  }
}
