.item-adding {
  text-align: center;
}

.item-adding__show-text {
  font-size: 16px;
  line-height: 20px;
}

.item-adding__small-text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;

  color: #444444;
}

.item-adding__button--grey {
  color: #444444;
  background-color: #f2f2f2;
}
