.main-navigation {
  font-family: "Oswald Medium", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-align: center;

  text-transform: uppercase;

  display: none;
}

.main-navigation--nojs {
  display: block;
}

.main-navigation--open {
  display: block;
}

.main-navigation__list {
  list-style: none;

  padding: 0;
  margin: 0;
}

.main-navigation__item {
  padding: 22px 10px;
  border-bottom: 1px solid #e6e6e6;
}

.main-navigation__item-link {
  color: @primary-text-color;
  text-decoration: none;
}

.main-navigation__item-link:hover,
.main-navigation__item-link:focus {
  opacity: 0.6;
}

.main-navigation__item-link:active {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .main-navigation {
    width: 100%;

    font-family: "Oswald", sans-serif;
    font-size: 18px;
    line-height: 25px;

    display: block;
  }

  .main-navigation__list {
    min-height: 59px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
  }

  .main-navigation__item {
    height: initial;

    padding: 22px 0;
    margin: 10px 0 5px 36px;

    border-bottom: none;
  }

  .main-navigation__item-link {
    color: @second-text-color;
  }

  .main-navigation__item-link--current {
    padding-bottom: 7px;
    border-bottom: 2px solid @primary-color;
  }
}

@media (min-width: @desktop-width) {
  .main-navigation {
    font-size: 20px;
    line-height: 25px;
  }

  .main-navigation--short {
    max-width: 600px;
  }

  .main-navigation__item {
    margin: 10px 0 5px 34px;
  }

  .main-navigation__item-link {
    color: @primary-text-color;
  }

  .main-navigation__item-link--current {
    padding-bottom: 5px;
  }

  .main-navigation__item-link--main-page {
    color: #ffffff;
  }

  .main-navigation__item-link--main-page-current {
    border-bottom-color: #ffffff;
  }
}
