.page-footer__block {
  margin: 0;
  background-color: @second-color;

  text-align: center;
}

.page-footer__wrapper {
  padding: 0 20px;
}

.page-footer__logo {
  padding-top: 38px;
  padding-bottom: 28px;

  border-bottom: 1px solid #d9d9d9;
}

.page-footer__logo-link:hover,
.page-footer__logo-link:focus {
  opacity: 0.8;
}

.page-footer__logo-link:active {
  opacity: 0.3;
}

.page-footer__social {
  padding-top: 22px;
  padding-bottom: 17px;

  border-bottom: 1px solid #d9d9d9;
}

.page-footer__copyright {
  padding-top: 21px;
  padding-bottom: 25px;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    padding: 53px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo,
  .page-footer__social,
  .page-footer__copyright {
    padding: 0;

    border: none;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    padding: 56px 40px;
  }
}
