.program-choice-form {
  font-size: 16px;
  line-height: 18px;

  padding: 0 20px;
  margin-top: 38px;
}

.program-choice-form__fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.program-choice-form__fieldset legend {
  max-width: 210px;

  padding-right: 25px;

  background-color: #ffffff;

  font-size: 24px;
  line-height: 24px;
}

.program-choice-form__fieldset ul {
  padding: 0;
  margin: 0;
}

.program-choice-form__fieldset label {
  cursor: pointer;
}

.program-choice-form__input {
  height: 45px;

  padding: 12px 15px;
  margin-left: 10px;

  border: 1px solid rgba(205, 205, 205, 0.5);

  box-sizing: border-box;
}

.program-choice-form__input:hover {
  border: 1px solid rgba(205, 205, 205, 1);
}

.program-choice-form__input:active,
.program-choice-form__input:focus {
  border: 2px solid #444444;
  outline: none;
}

.program-choice-form__input--error {
  border: 2px solid #ff8282;
}

.program-choice-form__input::-webkit-input-placeholder, /* Edge */
.program-choice-form textarea::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 18px;

  color: @third-text-color;

  text-transform: uppercase;
}

.program-choice-form__input::-moz-placeholder,
.program-choice-form textarea::-moz-placeholder {
  opacity: 1;
}

.program-choice-form__input:-ms-input-placeholder,
.program-choice-form textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-size: 16px;
  line-height: 18px;

  color: @third-text-color;

  text-transform: uppercase;
}

.program-choice-form__input::placeholder,
.program-choice-form textarea::placeholder {
  font-size: 16px;
  line-height: 18px;

  color: @third-text-color;

  text-transform: uppercase;
}

// Pet-data

.program-choice-form__fieldset--pet-data {
  margin-bottom: 10px;
}

.program-choice-form__pet-data-item {
  list-style: none;
}

.program-choice-form label {
  color: @second-text-color;
  text-transform: uppercase;
}

.program-choice-form__pet-data-item label {
  width: 100%;

  margin-bottom: 14px;

  white-space: nowrap;

  display: flex;
  align-items: center;
}

.program-choice-form__pet-data-item input {
  width: 100%;

  margin-left: 15px;
}

// Programm

.program-choice-form__fieldset--program {
  padding: 0 19px;
  padding-top: 18px;
  padding-bottom: 19px;
  margin: 0 -20px;
  margin-bottom: 40px;

  border: 1px solid #ededed;
}

.program-choice-form__program-item {
  margin-bottom: 11px;

  display: flex;
  align-items: center;
}

.program-choice-form__program-item:last-child {
  margin-bottom: 0;
}

.program-choice-form__program-label > span {
  display: flex;
  align-items: center;

  position: relative;
}

.program-choice-form__program-label > input + span::before {
  content: "";

  width: 30px;
  height: 30px;
  border-radius: 50%;

  margin-right: 14px;

  border: 1px solid #cdcdcd;

  display: inline-block;
}

.program-choice-form__program-label > input:checked + span::after {
  content: "";

  width: 12px;
  height: 12px;
  border-radius: 50%;

  background-color: @primary-color;

  display: inline-block;

  position: absolute;
  top: 10px;
  left: 10px;
}

.program-choice-form__program-label:hover > input + span::before {
  border-color: #bababa;
}

.program-choice-form__program-label > input:focus + span::before {
  border: 1px solid #444444;
}

.program-choice-form__program-label:active {
  opacity: 0.3;
}

.program-choice-form__program-label > input:disabled + span::before {
  border-color: #dddddd;
  cursor: not-allowed;
}

// Owner data

.program-choice-form__fieldset--owner-data {
  margin-bottom: 28px;
}

.program-choice-form__fieldset--owner-data legend {
  margin-bottom: 34px;
}

.program-choice-form__owner-data-item {
  list-style: none;
}

.program-choice-form__fieldset--owner-data label {
  width: 100%;

  margin-bottom: 14px;

  white-space: nowrap;

  display: flex;
  align-items: center;
}

.program-choice-form__owner-data-wrapper {
  width: 100%;

  position: relative;
}

.program-choice-form__fieldset--owner-data input {
  width: 100%;

  margin-left: 10px;
}

.program-choice-form__input--email,
.program-choice-form__input--phone {
  padding-right: 40px;
}

.program-choice-form__input--email {
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-size: 18px 14px;
  background-position: center right 14px;
}

.program-choice-form__input--phone {
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-size: 21px 21px;
  background-position: center right 10px;
}

.program-choice-form__input--email:focus {
  background-image: url("../img/icon-mail-active.svg");
}

.program-choice-form__input--phone:focus {
  background-image: url("../img/icon-phone-active.svg");
}

.program-choice-form__input--error.program-choice-form__input--email {
  background-image: url("../img/icon-mail-error.svg");
}

.program-choice-form__input--error.program-choice-form__input--phone {
  background-image: url("../img/icon-phone-error.svg");
}

// Comment

.program-choice-form__comment {
  margin-bottom: 40px;
}

.program-choice-form__comment legend {
  margin-bottom: 33px;
}

.program-choice-form__comment textarea {
  width: 100%;
  height: 150px;
  box-sizing: border-box;

  padding: 14px;
  padding-right: 5px;

  border: 1px solid #e7e7e7;
}

.program-choice-form__comment textarea:focus {
  border: 2px solid #444444;
  outline: none;
}

// Additional goods

.program-choice-form__additional legend {
  margin-bottom: 35px;
}

.program-choice-form__additional-item {
  margin-bottom: 11px;

  list-style: none;
}

.program-choice-form__additional-label > span {
  display: flex;
  align-items: center;

  position: relative;
}

.program-choice-form__additional-label > input + span::before {
  content: "";

  width: 30px;
  height: 30px;

  display: inline-block;

  margin-right: 14px;

  border: 1px solid #cdcdcd;
}

.program-choice-form__additional-label > input:checked + span::after {
  content: "";

  width: 22px;
  height: 17px;

  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-size: 22px 17px;

  display: inline-block;

  position: absolute;
  left: 5px;
  top: 8px;
}

.program-choice-form__additional-label:hover > span::before {
  border-color: #bababa;
}

.program-choice-form__additional-label > input:focus + span::before {
  outline: 1px solid #444444;
}

.program-choice-form__additional-label:active > span {
  opacity: 0.3;
}

.program-choice-form__additional-label > input:disabled + span::before {
  border-color: #dddddd;
  cursor: not-allowed;
}

// button and sign

.program-choice-form__button {
  margin-top: 21px;
  margin-bottom: 21px;
}

.program-choice-form__sign {
  margin-bottom: 32px;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;

  color: @third-text-color;

  text-align: center;
}

@media (min-width: @tablet-width) {
  .program-choice-form {
    font-size: 20px;
    line-height: 20px;

    padding: 0 70px;
    margin-top: 66px;
    margin-bottom: 51px;
  }

  .program-choice-form__input {
    height: 52px;

    padding: 15px;
  }

  .program-choice-form__input::-webkit-input-placeholder, /* Edge */
  .program-choice-form__input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: 20px;
    line-height: 20px;
  }

  .program-choice-form textarea::-webkit-input-placeholder, /* Edge */
  .program-choice-form textarea:-ms-input-placeholder {  /* Internet Explorer 10-11 */
    font-size: 20px;
    line-height: 30px;
  }

  .program-choice-form__input::placeholder {
    font-size: 20px;
    line-height: 20px;
  }

  .program-choice-form textarea::placeholder {
    font-size: 20px;
    line-height: 30px;
  }

  .program-choice-form__pet-data-item {
    margin-bottom: 20px;
  }

  .program-choice-form__pet-data-item label {
    margin-right: 18px;
  }

  .program-choice-form__pet-data-item input {
    margin-left: 20px;
  }

  .program-choice-form__fieldset--pet-data {
    margin-bottom: 52px;
  }

  .program-choice-form__fieldset--program {
    padding: 23px 30px;
    margin: 0;
    margin-bottom: 97px;
  }

  .program-choice-form__program-label > input + span::before {
    width: 40px;
    height: 40px;
  }

  .program-choice-form__program-label > input:checked + span::after {
    width: 18px;
    height: 18px;

    top: 12px;
    left: 12px;
  }

  .program-choice-form__fieldset legend {
    max-width: 610px;

    padding: 0 40px;
    margin-left: -40px;

    font-size: 36px;
    line-height: 36px;
  }

  .program-choice-form__fieldset--owner-data {
    margin-bottom: 67px;
  }

  .program-choice-form__fieldset--owner-data legend {
    margin-bottom: 75px;
  }

  .program-choice-form__owner-data-item {
    margin-bottom: 20px;
  }

  .program-choice-form__fieldset--owner-data label {
    margin-right: 20px;
  }

  .program-choice-form__fieldset--owner-data input {
    margin-left: 20px;
  }

  .program-choice-form__input--email,
  .program-choice-form__input--phone {
    padding-right: 45px;
  }

  .program-choice-form__comment {
    margin-bottom: 86px;
  }

  .program-choice-form__comment legend {
    margin-bottom: 73px;
  }

  .program-choice-form__comment textarea {
    height: 175px;

    padding: 10px 18px;
  }

  .program-choice-form__additional-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .program-choice-form__additional-item {
    width: 45%;

    margin-bottom: 29px;
  }

  .program-choice-form__additional legend {
    margin-bottom: 55px;
  }

  .program-choice-form__additional-label > input + span::before {
    width: 40px;
    height: 40px;
  }

  .program-choice-form__additional-label > input:checked + span::after {
    left: 11px;
    top: 11px;
  }

  .program-choice-form__button {
    width: 45%;

    padding: 16px 10px;
    margin-top: 24px;

    display: inline-block;
    vertical-align: middle;

    font-size: 20px;
  }

  .program-choice-form__sign {
    width: 47%;

    margin-top: 15px;
    margin-bottom: 16px;

    display: inline-block;
    vertical-align: middle;

    font-size: 16px;
  }
}

@media (min-width: @desktop-width) {
  .program-choice-form {
    padding: 0 40px;
    margin-bottom: 60px;
  }

  .program-choice-form__pet-program-wrapper {
    margin-bottom: 76px;

    display: flex;
    justify-content: space-between;
  }

  .program-choice-form__fieldset legend {
    padding: 0 20px;

    margin-left: -20px;

    font-size: 36px;
    line-height: 36px;
  }

  .program-choice-form__fieldset--pet-data {
    width: 47%;

    margin: 0;
  }

  .program-choice-form__pet-data-item:last-child {
    margin-bottom: 0;
  }

  .program-choice-form__fieldset--program {
    width: 47%;
    min-height: 196px;

    margin-bottom: 15px;

    box-sizing: border-box;
  }

  .program-choice-form__program-item input {
    margin-right: 19px;
  }

  .program-choice-form__fieldset--owner-data {
    margin-bottom: 55px;
  }

  .program-choice-form__owner-items-list {
    display: flex;
    justify-content: space-between;
  }

  .program-choice-form__owner-data-item {
    width: 47%;

    margin-bottom: 20px;
  }

  .program-choice-form__input--email,
  .program-choice-form__input--phone {
    background-position: center right 17px;
    padding-right: 50px;
  }

  .program-choice-form__comment {
    margin-bottom: 88px;
  }

  .program-choice-form__additional legend {
    margin-bottom: 57px;
  }

  .program-choice-form__additional-item {
    width: 20%;
  }

  .program-choice-form__button {
    width: 46.5%;

    margin-top: 31px;
    margin-right: 79px;
  }

  .program-choice-form__sign {
    width: 40%;

    margin-bottom: 8px;

    text-align: left;
  }
}
