body {
  background-color: #ffffff;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: @primary-text-color;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  left: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.wrapper-centered {
  max-width: 320px;
  box-sizing: border-box;

  margin: 0 auto;

  position: relative;
}

@media (min-width: @tablet-width) {
  .wrapper-centered {
    max-width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .wrapper-centered {
    max-width: @desktop-width;
  }
}
