body {
  background-color: #ffffff;

  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #111111;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  left: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
